# Notebook For Capstone Project

In [ ]:
import pandas as pd
import numpy as np

In [22]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [23]:
df=df[0]

In [28]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [33]:
df.shape

(180, 3)

<b>Checking duplicates in Postal Code </b>

In [37]:
df['Postal Code'].duplicated().any()

False

No Duplicates in Postal Code column

In [39]:
df=df[df['Borough']!='Not assigned']

In [46]:
df[df['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

No row in Neighbourhood column with Not assigned value

In [43]:
df.shape

(103, 3)